.main-cadastrar-usuario{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-cadastrar-usuario-conteiner{
    width: 80%;
    height: 80%;
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main-cadastrar-usuario-conteiner-usuarios{
    width: 35%;
    height: 100%;
    background-color: #008000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.main-cadastrar-usuario-conteiner-usuarios-texto{
    width: 60%;
    height: 15%;
    text-align: center;
    color: #ffff;
    
}

.main-cadastrar-usuario-conteiner-usuarios-cadastrados{
    width: 85%;
    height: 70%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.main-cadastrar-usuario-conteiner-usuarios-cadastrados::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
    
}

.main-cadastrar-usuario-conteiner-usuarios-cadastrados::-webkit-scrollbar-thumb {
    background-color: #a7a2a2;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}


.main-cadastrar-usuario-conteiner-usuarios-cadastrados-divisao{
    width: 80%;
    min-height: 30px;
    background-color: #D9D9D9;
    margin: 3% 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.main-cadastrar-usuario-conteiner-usuarios-cadastrados-divisao > p {
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-cadastrar-usuario-conteiner-usuarios-cadastrados-divisao-img {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;

}

.main-cadastrar-usuario-conteiner-formulario{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-cadastrar-usuario-conteiner-formulario-titulo{
    width: 100%;
    height: 5%;
    border-bottom: 2px solid  #008000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-cadastrar-usuario-conteiner-formulario-img{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-cadastrar-usuario-conteiner-formulario-img > svg{
    width: 80%;
    height: 80%;

}

.main-cadastrar-usuario-conteiner-formulario-formulario{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-cadastrar-usuario-conteiner-formulario-formulario-input{
    width: 40%;
    height: 18%;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main-cadastrar-usuario-conteiner-formulario-formulario-input > input{
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
}

.main-cadastrar-usuario-conteiner-formulario-formulario-input-img{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main-cadastrar-usuario-conteiner-formulario-formulario-input-img > svg {
    color: #a5a3a3;
}

.main-cadastrar-usuario-conteiner-formulario-formulario > p{
    width: 40%;
    height: 20%;
    display: flex;
    align-items: end;
}

.main-cadastrar-usuario-conteiner-formulario-btn{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-cadastrar-usuario-conteiner-formulario-btn > button{
    width: 20%;
    height: 40%;
    border-radius: 20px;
    border: none;
    background-color: #53E90E;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.main-cadastrar-usuario-conteiner-formulario-msg {
    height: 10%;
    width: 50%;
}