.main-logar-usuario{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-logar-usuario-bolinha-um{
    width: 35%;
    height:60%;
    top: 0;
    right: 0;
    position: absolute;
    background-color: #008000;
    z-index: -1;
    border-bottom-left-radius: 80%;
    box-shadow: rgba(0, 128, 0,0.5) 0px 4px 12px;
}

.main-logar-usuario-bolinha-dois{
    width: 25%;
    height: 45%;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #008000;
    z-index: -1;
    border-top-right-radius: 80%;
    box-shadow: rgba(0, 128, 0,0.5) 0px 4px 12px;
}

.main-logar-usuario-coonteiner{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-logar-usuario-conteiner-texto{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-logar-usuario-conteiner-texto-titulo{
    height: 20%;
    width: 70%;
    text-align: center;
}

.main-logar-usuario-conteiner-texto-imagem{
    width: 50%;
    height: 50%;
    background-image: url('../../Images/Capistrano.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.main-logar-usuario-conteiner-formulario{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.main-logar-usuario-conteiner-formulario-conteiner{
    width: 70%;
    height: 75%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-logar-usuario-conteiner-formulario-conteiner-login{
    width: 100%;
    height: 10%;
    border-bottom: 2px solid #53E90E;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-logar-usuario-conteiner-formulario-conteiner-conteiner{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-logar-usuario-conteiner-formulario-conteiner-conteiner > svg{
    width: 85%;
    height: 85%;
}

.main-logar-usuario-conteiner-formulario-conteiner-informacoes{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-logar-usuario-conteiner-formulario-conteiner-informacoes > p{
    width: 70%;
    height: 20%;
    display: flex;
    align-items: end;
}

.main-logar-usuario-conteiner-formulario-conteiner-informacoes-input{
    width: 70%;
    height: 20%;
    background-color: #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-logar-usuario-conteiner-formulario-conteiner-informacoes-input-svg{
    height: 80%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.main-logar-usuario-conteiner-formulario-conteiner-informacoes-input-svg > svg{
    width: 35%;
    height: 100%;
    color: #97979c;
}

.main-logar-usuario-conteiner-formulario-conteiner-informacoes-input > input{
    height: 100%;
    width: 85%;
    border: none;
    outline: none;
    background: none;
    font-size: 0.9rem;
}

.main-logar-usuario-conteiner-formulario-conteiner-botao{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-logar-usuario-conteiner-formulario-conteiner-botao > button{
    width: 30%;
    height: 50%;
    border: none;
    background-color: #53E90E;
    border-radius: 20px;
    color: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.main-logar-usuario-conteiner-formulario-conteiner-msg{
    height: 8%;
    width: 100%;

}