@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,700;0,900;1,700&display=swap');


main {
    height: 90vh;
    width: 100%;
}


.container-slider {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.container-slider-conteudo {
    min-width: 100vw;
    min-height: 100%;
    animation: opacidade 1.5s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.container-slider-conteudo-radius{
    width: 15%;
    height: 25%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #008000;
    z-index: -1;
    border-bottom-right-radius: 75%;
    box-shadow: rgba(0, 128, 0,0.5) 0px 4px 12px;
}

.container-slider-conteudo-radius-dois{
    width: 40%;
    height: 100%;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: #008000;
    z-index: -1;
    border-top-left-radius: 90%;
    box-shadow: rgba(0, 128, 0,0.5) 0px 4px 12px;
}

.container-slider-conteudo-bolinhas-um{
    width: 10px;
    height: 10px;
    background-color: #008000;
    position: absolute;
    top: 15%;
    right: 45%;
    
}

.container-slider-conteudo-bolinhas-dois{
    width: 10px;
    height: 10px;
    background-color: #008000;
    position: absolute;
    top: 90%;
    left: 20%;
}

.container-slider-conteudo-bolinhas-tres{
    width: 20px;
    height: 10px;
    background-color: #008000;
    position: absolute;
    top: 70%;
    right: 50%;
}

.container-slider-conteudo-bolinhas-quatro{
    width: 15px;
    height: 10px;
    background-color: #008000;
    position: absolute;
    top: 20%;
    left: 20%;
}

.container-slider-conteudo-bolinhas-cinco{
    width: 15px;
    height: 10px;
    background-color: #008000;
    position: absolute;
    top: 80%;
    right: 60%;
}

.container-slider-conteudo-bolinhas-seis{
    width: 10px;
    height: 10px;
    background-color: #008000;
    position: absolute;
    top: 40%;
    left: 3%;
}


.ativo {
    opacity: 1;
    align-items: center;
}
.container-slider .btn{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-slider .left {
    position: absolute;
    top: 50%;
    left: 3%;
    z-index: 1;
}

.container-slider .right {
    position: absolute;
    top: 50%;
    right: 3%;
    z-index: 1;
}

.container-slider-conteudo-texto{
    width: 60%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container-slider-conteudo-texto-titulo{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-slider-conteudo-texto-titulo h1{
    color: #008000;
    font-family: 'Inter', sans-serif;
    font-size: 2.8rem;
}

.container-slider-conteudo-texto-paragrafo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.container-slider-conteudo-texto p{
    font-size: 1.3rem;
    line-height: 30px;
    text-align: justify;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #2f4f4f;
}

.container-slider-conteudo-imagem{
    width: 35%;
    height: 100%; 
}

.container-slider-conteudo-imagem-Capistrano{
    width: 100%;
    height: 100%;
    background-image: url('../../Images/Capistrano.png');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.container-slider-conteudo-imagem-Estatua{
    width: 100%;
    height: 100%;
    background-image: url('../../Images/Estatua-capistrano.png');
    background-size: 80%;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.container-slider-conteudo-imagem-Livros {
    width: 100%;
    height: 100%;
    background-image: url('../../Images/Obras-livros.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes opacidade {
    0%{
        opacity: 0;
    }


    100%{
        opacity: 1;
    }
}


@media screen and (max-width: 1280px) {
    .container-slider-conteudo-texto {
        width: 60%;
    }

    .container-slider-conteudo-texto-titulo h1 {
        font-size: 2rem;
    }

    .container-slider-conteudo-texto-paragrafo p {
        font-size: 1rem;
    }
    .container-slider-conteudo-radius {
        height: 17%;
        width: 10%;
    }

    .container-slider-conteudo-radius-dois {
        height: 75%;

    }

    .container-slider-conteudo-imagem {
        width: 40%;
    }
    .container-slider-conteudo-imagem-Capistrano{
        background-size: 100%;
    }
    
    .container-slider-conteudo-imagem-Estatua{
        background-size: 75%;
    }

    .container-slider-conteudo-imagem-Livros{
        background-size: 75%;
    }

    .container-slider .btn {
        width: 35px;
        height: 35px;
    }

    .container-slider .left {
        left: 1%;
    }

    .container-slider .right {
        right: 1%;
    }
}

@media screen and (max-width: 992px) {
    .container-slider-conteudo{
        flex-direction: column;
    }

    .container-slider-conteudo-texto{
        width: 100%;
        height: 80%;
        justify-content: end;
    }

    .container-slider .btn {
        width: 50px;
        height: 50px;
    }

    .container-slider-conteudo-texto-titulo h1{
        
        font-size: 2.2rem;
    }

    .container-slider-conteudo-texto-paragrafo p{
        font-size: 1.2rem;
    }

    .container-slider-conteudo-radius{
        height: 15%;
        width: 18%;
    }

    .container-slider-conteudo-radius-dois{
        height: 50%;
    }

    .container-slider-conteudo-imagem{
        width: 100%;
    }

    .container-slider-conteudo-imagem-Estatua{
        background-size: 45%;
    }

    .container-slider-conteudo-imagem-Livros{
        background-size: 60%;
    }

    .container-slider-conteudo-imagem-Capistrano{
        background-size: 75%;
        background-position: center bottom;
    }

    .container-slider-conteudo-bolinhas-cinco, 
    .container-slider-conteudo-bolinhas-dois, 
    .container-slider-conteudo-bolinhas-quatro, 
    .container-slider-conteudo-bolinhas-seis, 
    .container-slider-conteudo-bolinhas-tres, 
    .container-slider-conteudo-bolinhas-um{
        display: none;
    }

}

@media screen and (max-width: 568px){
    .container-slider-conteudo-radius-dois{
        height: 30%;
    }

    .container-slider-conteudo{
        flex-direction: column;
    }

    .container-slider-conteudo-radius{
        height: 5%;
        width: 15%;
    }

    .container-slider-conteudo-texto{
        width: 100%;
        height: 70%;
    }

    .container-slider-conteudo-texto-paragrafo p {

        font-size: 0.8rem;
    }
    
    .container-slider-conteudo-texto-titulo h1{
        width: 100%;
        font-size: 1.2rem;
    }

    .container-slider .left, 
    .container-slider .right{
        top: 70%;
    }
    .container-slider-conteudo-imagem{
        width: 60%;
        height: 30%;
    }
    .container-slider-conteudo-imagem-Capistrano{
        background-size: 100%;
        background-position: center ;
    }

    .container-slider-conteudo-imagem-Estatua{
        background-size: 55%;
        background-position: center;
    }

    .container-slider-conteudo-imagem-Livros{
        background-size: 100%;
    }

    .container-slider-conteudo .obras{
        height: 50%;
        
    }

}

