.container{
    width: 100%;
    height: 10vh;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: fixed;
    top: 0;
}

.container-logo{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
.container-logo img{
    width: 30%;
    min-width: 130px;
}

.container-navbar{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-navbar a{
    color: #2f4f4f;
    text-decoration: none;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

.container-navbar a:hover{
    color: #53e90e;
    padding-bottom: 1px;
    border-bottom: 2px solid #53e90e;
}
.container-navbar a.active{
    color: #53e90e;
    padding-bottom: 1px;
    border-bottom: 2px solid #53e90e;
}

.container-navbar-usuario{
    background-color: #53e90e;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}

.container-navbar-mobile{
    display: none;
}

.container-navbar-mobile a{
    margin: 1%;
    color: #2f4f4f;
    text-decoration: none;
    font-size: clamp(0.9rem, 0.4rem + 0.5vw, 1.5rem);
    font-family: sans-serif;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    animation: mostrarTexto 1s ease-in-out;
}

.container-navbar-mobile a:hover{
    color: #53e90e;
    padding-bottom: 1px;
    border-bottom: 2px solid #53e90e;
}
.container-navbar-mobile a.active{
    color: #53e90e;
    padding-bottom: 1px;
    border-bottom: 2px solid #53e90e;
}

.container-hamburguer{
    display: none;
    align-items: center;
    justify-content: center;
}
.container-hamburguer svg{
    cursor: pointer;
}
.ativo{
    display: none;
}

@media screen and (max-width: 1280px){
    .container-navbar a {
        font-size: 0.8rem;
    }
}


@media screen and (max-width:820px) {
    
    .container-navbar{
        display: none;
    }
    .container-logo{
        width: 50%;
        justify-content: center;
        z-index: 100;
        
    }

    .container-hamburguer{
        z-index: 100;
        width: 50%;
        display: flex;
        position: relative;
    }
    

    .ativo{
        display: flex;
    }

    .container-navbar-mobile{
        width: 100%;
        padding: 10% 0;
        position: absolute;
        top: 10%;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: menuMobile 1s  ease-in-out;
        z-index: 1;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }


}

@keyframes menuMobile {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes mostrarTexto{
    0%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
