

.main {
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;
}

.containerUsuario {
    width: 100%;
    height: 100%;
    display: flex;
}

.containerUsuario-pesquisa {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerUsuario-pesquisa-barra {
    margin: 3% 0;
    width: 60%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.containerUsuario-pesquisa-barra-btn {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #53e90e;
    border-radius: 20px;
    border-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.containerUsuario-pesquisa-barra > svg {
    height: 2.5rem;
    width: 2.5rem;
    
}


.containerUsuario-pesquisa-barra > input {
    margin-left: 4px;
    width: 20rem;
    height: 2.5rem;
    background: #D9D9D9;
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 0% 4%;
}

.containerUsuario-pesquisa-barra > input::placeholder {
    width: 197px;
    height: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    
    color: rgba(0, 0, 0, 0.5);
}

.containerUsuario-pesquisa-obras{
    width: 95%;
    height: auto;
}

.containerUsuario-pesquisa-obras > h1{
    margin: 3% 0;
    text-align: center;
}


.containerUsuario-pesquisa-mostrarObras {
    width: 98%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 5% ;
}

.pesquisa_linha{
    margin: 0 auto;
    width: 90%;
    height: 1px;
    background-color: #000;
    margin-bottom: 3% ;
}

.containerUsuario-pesquisa-mostrarObras-titulos{
    width: 100%;
    height: 15%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #c4c4cc;
    text-align: center;
}

.containerUsuario-pesquisa-mostrarObras-resumo{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #c4c4cc;


}

.containerUsuario-pesquisa-mostrarObras-resumo > h3 {
    margin: 2% 5%;
}

.containerUsuario-pesquisa-mostrarObras-resumo > p {
    margin: 2% 5%;
    padding-bottom: 3%;
}

.containerUsuario-pesquisa-mostrarObras-descricao{
    width: 100%;
    height: auto;
}

.containerUsuario-pesquisa-mostrarObras-descricao > h3{
    margin: 2% 5%
}

.containerUsuario-pesquisa-mostrarObras-descricao > p{
    margin: 2% 5%;
    padding-bottom: 3%;
}

.containerUsuario-obras {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerUsuario-obras-divisao{
    width: 30%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: fixed;
    top: 12%;
}



.containerUsuario-obras-divisao-titulo{
    width: 100%;
    height: 10%;
    background-color:#53e90e;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}
.containerUsuario-obras-divisao-titulo > h1{
    font-size: 1.5rem;
}

.containerUsuario-obras-divisao-conteudo{
    height: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

}

.containerUsuario-obras-divisao-conteudo-titulo {
    border-bottom: 1px solid #c4c4cc;
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
}



.containerUsuario-obras-divisao-conteudo::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
    
}

.containerUsuario-obras-divisao-conteudo::-webkit-scrollbar-thumb {
    background-color: #53e90e;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

@media screen and (max-width: 1280px) {
    .containerUsuario-pesquisa {
        width: 70%;
    }

    .containerUsuario-obras {
        width: 25%;
    }

    .containerUsuario-obras-divisao {
        width: 25%;
    }

    .containerUsuario-obras-divisao-conteudo-titulo {
        font-size: 0.90rem;
    }

    .containerUsuario-pesquisa-obras {
        font-size: 0.85rem;
    }

    .containerUsuario-obras-divisao-titulo > h1{
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 992px) {
    .containerUsuario-obras{
        height: 30%;
        width: 100%;
        display: none;
    }
    
    .containerUsuario {
        flex-direction: column;
        height: auto;
        width: 100%;
    }
     
    .containerUsuario-pesquisa{
        width: 100%;
        height: 95%;

    }
    .containerUsuario-pesquisa-obras {
        width: 100%;
        height: 90%;
    }

    .containerUsuario-pesquisa-obras>h1 {
        margin: 1.5% 0;
    }

    .containerUsuario-pesquisa-barra{
        height: 10%;
        margin: 3% 0;
    }

    .containerUsuario-pesquisa-mostrarObras-titulos {
        min-height: 70px;
    }



    
}

@media screen and (max-width: 568px) {
    .containerUsuario-pesquisa-mostrarObras-titulos {
        margin: 4% 0;
        font-size: 0.70rem;
    }

    .containerUsuario-pesquisa-obras {
        font-size: 0.75rem;
    }

    .containerUsuario-pesquisa-barra {
        width: 80%;
    }
    .containerUsuario-pesquisa-barra-btn {
        width: 18%;
    }
}

